<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class = "container text-center">
<h1>Password Generator</h1>

    <form action = "{% url 'password' %}">
        <select name = "length" >
            <option value = "6">6 char</option> 
            <option value = "7">7 char</option>
            <option value = "8">8 char</option>
            <option value = "9">9 char</option> 
            <option value = "10">10 char</option> 
            <option value = "11">11 char</option> 
            <option value = "12" >12 char</option> 
            <option value = "13">13 char</option> 
            <option value = "14" selected = "selected">14 char</option> 
            <option value = "15">15 char</option> 
            <option value = "16">16 char</option> 
            </select> Length
        <br>
        <input type="checkbox" name="uppercase"> Uppercase 
        <br>
        <input type="checkbox" name="special"> Special Characters
        <br>
        <input type="checkbox" name ="numbers"> numbers
        <br>
        <input type ="submit" value ="Generate Password" class = "btn btn-primary">

    </form>

    <br>
    <br>
    <a class = "btn btn-primary"  href = "{% url 'aboutpg' %}">Go to About Page</a>
</div>
